@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #DD8524ff;
    --secondary-color: #739A3Bff;
    --accent1-color: #321412ff;
    --accent2-color: #EBE7C3ff;

    /* change the values below to your chosen font(s) */
    --heading-font: "Itim";
    --paragraph-font: "Poppins", Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #DD8524ff;
    /* headlines on a white background */
    --headline-color-on-color: #EBE7C3ff;
    /* headlines on a colored background */
    --paragraph-color-on-white: #321412ff;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #EBE7C3ff;
    /* paragraph text on a colored background */
    --paragraph-background-color: #739A3Bff;
    --nav-link-color: #321412ff;
    --nav-background-color: #DD8524ff;
    --nav-hover-link-color: #EBE7C3ff;
    --nav-hover-background-color: #739A3Bff;
}

body {
    background-color: var(--accent2-color);
    margin: auto 0;
    text-align: center;
}

nav{
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space;
    text-align: left;
}

nav a{
    padding:2em;
}

nav a:hover{
    background-color: var(--nav-hover-background-color);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#burger-card {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#burger-card #burger-img {
    grid-column: 1/2;
    grid-row: 1/2;
}

#burger-card #burger {
    grid-column: 2/3;
    grid-row: 1/2;
}

#shrimp-card {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#shrimp-card #shrimp-img {
    grid-column: 2/3;
    grid-row: 1/2;
}

#shrimp-card #shrimp {
    grid-column: 1/2;
    grid-row: 1/2;
}