body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.images{
    width:125px;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    border-width: 12px;
    margin: 10px 65px;
}

#lower_imgs{
    background-color: gray;
    margin: 0 25%;
    border: 0;
}

#uppper_image {
    display: block;
    margin: 0 25%;
    width: 50%;
}
