@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #E9EFEC;
    font-family: "Poppins", Helvetica, sans-serif;;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #6A9C89;
}
nav a{
    background-color: #6A9C89;
    color: #16423C;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #16423C;
    color: #E9EFEC;
}
footer{
    background-color: #16423C;
    color: #E9EFEC;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    background-color: #6A9C89;
    color: #16423C;
    text-decoration: none;
}
footer a:hover{
    background-color: #16423C;
    color: #E9EFEC;
}
footer .social img{
    padding-top: 15px;
}
nav{
    text-align: left;
}
a{
    text-align: center;
}
main section{
    text-align: center;
}
h4{
    background-color: #16423C;
    color: #E9EFEC;
}
h2{
    margin: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
#background{
    background-color: #6A9C89;
    height: 725px;
}
.book, .join{
    background-color: #6A9C89;
    color: #16423C;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
}
.book:hover{
    background-color: #16423C;
    color: #E9EFEC;
}
.join:hover{
    background-color: #16423C;
    color: #E9EFEC;
}
.msg{
    background-color: #16423C;
    line-height: 1.5em;
    padding: 35px;
}
.home-title{
    background-color: #16423C;
    color: #E9EFEC;
    font-family:"Josefin Sans", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    font-family:"Josefin Sans", Helvetica, sans-serif;
    background-color: #16423C;
    color: #E9EFEC;
}
.msg p{
    background-color: #16423C;
    color: #E9EFEC;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.card-img{
    border: 10px solid #16423C;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
main section img{
    box-sizing: border-box;
}